extends layout 
block title
    title Zac Foteff | Home Page
block style
    link(rel='stylesheet', href='/stylesheets/style.css')
block content 
    h1 <u><b>About Me</b></u>
    div.info-card
        img(src="/images/me.jpg" alt="Me").pic-me
        p #{intro}
    div.info-card
        img(src="/images/LaxPhoto.JPG" alt="Me playing Lacrosse").pic-me
        p #{skills}