.info-card:hover {
    width: 100%;
    background-color: white;
    border: 5px solid rgb(115, 155, 22);
}

#title-elem {
    text-align: center;
    color: whitesmoke;
}

.project-media {
    padding: 20px 0px 0px 20px;
    width: 20%;
}

.project-media img {
    float: left;
    height: fit-content;
    width: 95%;
    padding: 0px 15px 15px 0px;
}

.project-media video {
    float: left;
    height: fit-content;
    width: 95%;
    padding: 0px 15px 15px 0px;
}

.project-entry {
    /* Format for each project entry */
    padding: 15px 10px 5px 5px;
    line-height: 27px;
    width: 80%;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.button-container button {
    font-size: 16px;
    border-radius: 15px;
    margin-top: 1%;
    margin-right: 1%;
    padding: 1%;
    width: 100%;
}