/* CSS Sheet for personal website */

h1 {
    text-align: center;
    color: whitesmoke;
}

.pic-me {
    /* Allows text to be wrapped around picture */
    float: left;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 20px;
    margin: 10px;
    height: 284px;
    width: 225px;
}